* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
body {
    width: 900px;
    margin: auto;
    background-color: #f4f4f2;
    color: #495464;
}
body h {
    font-size: 36px;
}
#name > p {
    font-size: 40px;
    text-align: center;
}
#tags {
    padding: 30px;
}
#tags > a {
    margin-right: 20px;
    font-size: 18px;
    color: #EB5E0B;
    text-decoration: underline;
}
#logo{
    height: 60px;
    margin-right: 30px;
}
#nav {
    padding: 30px;
    width: 100%;
}
#nav a {
    width: 33%;
    height: 35px;
    float: left;
    text-align: center;
    font-size: 18px;
    border: 1px solid #DBDEE1;
    border-radius: 5px;
}
#nav a:hover {
    background-color: #FFFFFF;
}
#display {
    width: 100%;
    border: 1px solid #DBDEE1;
    margin: 20px;
}
#display div {
    display: none;
}
#display p {
    text-align: center;
    font-size: 18px;
    color: #EB5E0B;
}